---
import Heading from "../ui/Heading.astro";
import Link from "../ui/Link.astro";
---

<section id="contact" class="contact-section center-section">
  <div class="contact-container container">
    <header class="contact-header" data-animate="fade-up">
      <Heading as="h4">What's Next?</Heading>
      <Heading as="h2">Get In Touch!</Heading>
      <p class="contact-description">
        I'm currently looking for new opportunities. Feel free to reach out!
      </p>
    </header>
    <form
      action=""
      class="contact-form"
      data-animate="fade-up"
      style="--delay: 150ms"
    >
      <input
        class="input"
        type="text"
        name="name"
        placeholder="Your Name"
        aria-label="Your name"
        autocomplete="name"
        required
      />
      <input
        class="input"
        type="email"
        name="email"
        placeholder="Your Email"
        aria-label="Your email"
        autocomplete="email"
        required
      />
      <textarea
        class="input"
        name="message"
        rows="5"
        placeholder="Your Message"
        aria-label="Your message"
        required></textarea>
      <Link type="submit" data-md as="button" data-mono data-cta
        >Send Message</Link
      >
    </form>
  </div>
</section>

<style>
  .contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    text-align: center;
  }
  .contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
  .contact-description {
    color: var(--color-gray);
    max-width: 300px;
    font-size: var(--font-6);
    font-weight: var(--font-regular);
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 100%;
    max-width: 400px;
  }
  .field {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
    font-size: var(--font-6);
    color: var(--color-gray);

    span {
      font-family: "JetBrains";
      font-size: var(--font-7);
    }
  }
  .input {
    border: 1px solid var(--lines-grid-color);
    padding: 12px 16px;
    border-radius: var(--radius-md);
    font-family: "JetBrains";
    resize: none;
    &::placeholder {
      color: var(--color-gray-50);
    }
  }

  @media screen and (width <= 768px) {
    .contact-container {
      gap: 32px;
    }

    .contact-form {
      max-width: 100%;
    }
  }

  @media screen and (width <= 480px) {
    .contact-container {
      gap: 24px;
    }
  }
</style>
