---
import "../styles/global.css";
import { ClientRouter } from "astro:transitions";
import me from "../assets/me.png";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href={me.src} />
    <meta name="generator" content={Astro.generator} />
    <title>Porfolio Web - RDZ</title>
    <ClientRouter />
  </head>
  <body>
    <div class="grid-lines">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>

    <slot />
  </body>
</html>

<script>
  function initAnimations() {
    const root = document.querySelector(".scroll-wrapper") ?? null;
    const elements = document.querySelectorAll("[data-animate]");

    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add("is-visible");
          }
        });
      },
      { root, threshold: 0.1 },
    );

    elements.forEach((el) => observer.observe(el));
  }

  document.addEventListener("astro:page-load", initAnimations);
</script>
