---
import Link from "./Link.astro";

interface Props {
  href?: string;
}

const { href = "/" } = Astro.props;
---

<div class="back-link-wrapper">
  <Link href={href}>&larr; Back</Link>
</div>

<style>
  .back-link-wrapper {
    width: fit-content;
  }
</style>
