---
import BackLink from "./BackLink.astro";
import Heading from "./Heading.astro";

interface Props {
  backHref: string;
  title: string;
}

const { backHref, title } = Astro.props;
---

<div class="page-header" data-animate="fade-up">
  <BackLink href={backHref} />
  <Heading as="h2">{title}</Heading>
</div>

<style>
  .page-header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
  }
</style>
